<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.neu.yang.mapper.AddressMapper">
    <resultMap id="BaseResultMap" type="com.neu.yang.model.Address">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="census" property="census" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="post_code" property="postCode" jdbcType="VARCHAR" />
        <result column="default_address" property="defaultAddress" jdbcType="INTEGER" />
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    </resultMap>

    <select id="findAddress" resultType="com.neu.yang.model.Address">
        select
        id,
        user_name userName,
        census,
        address,
        mobile,
        post_code postCode,
        default_address defaultAddress,
        is_deleted isDeleted
        from address
        where is_deleted=0
        and user_name=#{user}
    </select>
</mapper>
