<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.neu.yang.mapper.GoodsMapper">
    <select id="screenGoods" parameterType="com.neu.yang.dto.Selected" resultType="com.neu.yang.model.Goods">
        select * from goods where
        is_delete=0
        and brand=#{brand}
            <if test="type!=null and type!=''">and type=#{type}</if>
            <if test="packager!=null and packager!=''">and packager=#{packager}</if>
            <if test="size!=null and size!=''">and size=#{size}</if>
    </select>

</mapper>
