<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.neu.yang.mapper.OrderProductMapper">
    <resultMap id="BaseResultMap" type="com.neu.yang.model.OrderProduct">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
        <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="FLOAT" />
        <result column="first_date" property="firstDate" jdbcType="DATE" />
        <result column="last_date" property="lastDate" jdbcType="DATE" />
        <result column="number" property="number" jdbcType="INTEGER" />
        <result column="total" property="total" jdbcType="INTEGER" />
        <result column="total_price" property="totalPrice" jdbcType="FLOAT" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    </resultMap>
    <select id="queryOrderProduct" resultMap="BaseResultMap">
        select * from order_product
        where is_deleted = 0
        and order_number = #{orderNumber}
    </select>






</mapper>
